#body{
    background-color: #E3CAA5;
}
h1{
    font-family: 'Bubblegum Sans', cursive;
}
p, span, strong, a, input, textarea, li{
    font-family: 'Open Sans', sans-serif;
}
/* navbar */
.navbar{
    background-color: #bd9c86;
}
.logo-text{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 32px;
    text-align: center;
    color: black;
}
.navbar li a{
    font-size: 18px;
}
.navbar li a:hover{
    background-color: #E0DDAA;
    border-radius: 4px;
}
/* main */
#me{
    width: 80%;
    
    
}
#icon{
    font-size: 30px;
}
/* footer */
footer {
    background-color: #180A0A;
}
footer p{
    color: rgb(197, 191, 191);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




